.loginBtn{
    color:greenyellow;
    font-size:x-large;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.userDetailsTxt{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}